<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.moudle.leida.mapper.ZleidatuMapper">
    
    <resultMap type="com.ruoyi.moudle.leida.domain.Zleidatu" id="ZstudentResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="age"    column="age"    />
        <result property="jisha"    column="jisha"    />
        <result property="zhugong"    column="zhugong"    />
        <result property="shengcun"    column="shengcun"    />
        <result property="wuli"    column="wuli"    />
        <result property="mofa"    column="mofa"    />
        <result property="fangyu"    column="fangyu"    />
        <result property="jinqian"    column="jinqian"    />
    </resultMap>

    <sql id="selectZstudentVo">
        select id, name, age, jisha, zhugong, shengcun, wuli, mofa, fangyu, jinqian from zstudent
    </sql>

    <select id="selectZstudentList" parameterType="com.ruoyi.moudle.leida.domain.Zleidatu" resultMap="ZstudentResult">
        <include refid="selectZstudentVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="age != null "> and age = #{age}</if>
            <if test="jisha != null "> and jisha = #{jisha}</if>
            <if test="zhugong != null "> and zhugong = #{zhugong}</if>
            <if test="shengcun != null "> and shengcun = #{shengcun}</if>
            <if test="wuli != null "> and wuli = #{wuli}</if>
            <if test="mofa != null "> and mofa = #{mofa}</if>
            <if test="fangyu != null "> and fangyu = #{fangyu}</if>
            <if test="jinqian != null "> and jinqian = #{jinqian}</if>
        </where>
    </select>
    
    <select id="selectZstudentById" parameterType="Long" resultMap="ZstudentResult">
        <include refid="selectZstudentVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertZstudent" parameterType="com.ruoyi.moudle.leida.domain.Zleidatu" useGeneratedKeys="true" keyProperty="id">
        insert into zstudent
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="age != null">age,</if>
            <if test="jisha != null">jisha,</if>
            <if test="zhugong != null">zhugong,</if>
            <if test="shengcun != null">shengcun,</if>
            <if test="wuli != null">wuli,</if>
            <if test="mofa != null">mofa,</if>
            <if test="fangyu != null">fangyu,</if>
            <if test="jinqian != null">jinqian,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="age != null">#{age},</if>
            <if test="jisha != null">#{jisha},</if>
            <if test="zhugong != null">#{zhugong},</if>
            <if test="shengcun != null">#{shengcun},</if>
            <if test="wuli != null">#{wuli},</if>
            <if test="mofa != null">#{mofa},</if>
            <if test="fangyu != null">#{fangyu},</if>
            <if test="jinqian != null">#{jinqian},</if>
         </trim>
    </insert>

    <update id="updateZstudent" parameterType="com.ruoyi.moudle.leida.domain.Zleidatu">
        update zstudent
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="age != null">age = #{age},</if>
            <if test="jisha != null">jisha = #{jisha},</if>
            <if test="zhugong != null">zhugong = #{zhugong},</if>
            <if test="shengcun != null">shengcun = #{shengcun},</if>
            <if test="wuli != null">wuli = #{wuli},</if>
            <if test="mofa != null">mofa = #{mofa},</if>
            <if test="fangyu != null">fangyu = #{fangyu},</if>
            <if test="jinqian != null">jinqian = #{jinqian},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteZstudentById" parameterType="Long">
        delete from zstudent where id = #{id}
    </delete>

    <delete id="deleteZstudentByIds" parameterType="String">
        delete from zstudent where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>