# 数据源配置
spring:
    datasource:
        type: com.alibaba.druid.pool.DruidDataSource
        driverClassName: com.mysql.cj.jdbc.Driver
        druid:
            # 主库数据源
            master:
#                url: jdbc:mysql://${ADDRESS:127.0.0.1}:3306/ry-demo1?useUnicode=true&characterEncoding=utf8&zeroDateTimeBehavior=convertToNull&useSSL=true&serverTimezone=GMT%2B8&allowMultiQueries=true
                url: jdbc:mysql://175.24.44.32:3306/ry-demo1?useUnicode=true&characterEncoding=utf8&zeroDateTimeBehavior=convertToNull&useSSL=false&serverTimeZone=GMT%2B8&allowMultiQueries=true
                username: root
                password: 123456
            # 从库数据源
            slave:
                # 从数据源开关/默认关闭
                enabled: false
                url: 
                username: 
                password: 
            # 初始连接数
            initialSize: 5
            # 最小连接池数量
            minIdle: 10
            # 最大连接池数量
            maxActive: 20
            # 配置获取连接等待超时的时间
            maxWait: 60000
            # 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒
            timeBetweenEvictionRunsMillis: 60000
            # 配置一个连接在池中最小生存的时间，单位是毫秒
            minEvictableIdleTimeMillis: 300000
            # 配置一个连接在池中最大生存的时间，单位是毫秒
            maxEvictableIdleTimeMillis: 900000
            # 配置检测连接是否有效
            validationQuery: SELECT 1 FROM DUAL
            testWhileIdle: true
            testOnBorrow: false
            testOnReturn: false
            webStatFilter: 
                enabled: true
            statViewServlet:
                enabled: true
                # 设置白名单，不填则允许所有访问
                allow:
                url-pattern: /druid/*
                # 控制台管理用户名和密码
                login-username: 
                login-password: 
            filter:
                stat:
                    enabled: true
                    # 慢SQL记录
                    log-slow-sql: true
                    slow-sql-millis: 1000
                    merge-sql: true
                wall:
                    config:
                        multi-statement-allow: true
    redis:
        database: 0
        host: 175.24.44.32
        port: 6379
        jedis:
            pool:
                max-active: 8
        timeout: 5000
    ## Redis 配置
## Redis数据库索引（默认为0）
#spring.redis.database=0
  ## Redis服务器地址
#    spring.redis.host=192.168.152.120
  ## Redis服务器连接端口
#    spring.redis.port=6379
  ## Redis服务器连接密码（默认为空）
#    spring.redis.password=1
  # 连接池最大连接数（使用负值表示没有限制）
#    spring.redis.pool.max-active=8
  ## 连接池最大阻塞等待时间（使用负值表示没有限制）
#    spring.redis.pool.max-wait=-1
  ## 连接池中的最大空闲连接
#    spring.redis.pool.max-idle=8
  ## 连接池中的最小空闲连接
#    spring.redis.pool.min-idle=0
  ## 连接超时时间（毫秒）
#    spring.redis.timeout=5000