<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.market.mapper.TInventoryRecordMapper">
    
    <resultMap type="TInventoryRecord" id="TInventoryRecordResult">
        <result property="id"    column="id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="goodsId"    column="goods_id"    />
        <result property="oldNum"    column="old_num"    />
        <result property="newNum"    column="new_num"    />
        <result property="name"    column="name"    />
        <result property="typeName"    column="type_name"    />
        <result property="unit"    column="unit"    />
    </resultMap>

    <sql id="selectTInventoryRecordVo">
        select t.id, t.create_by, t.create_time, t.goods_id, t.old_num, t.new_num, tg.name, tt.type_name, tg.unit
        from t_inventory_record t
        left join t_goods tg  on t.goods_id = tg.id
        left join t_goods_type tt on tg.type_id = tt.id
    </sql>

    <select id="selectTInventoryRecordList" parameterType="TInventoryRecord" resultMap="TInventoryRecordResult">
        <include refid="selectTInventoryRecordVo"/>
        <where>
            <if test="name != null "> and tg.name like concat('%', #{name}, '%')</if>
            <if test="typeId != null "> and tg.type_id = #{typeId}</if>
            <if test="goodsId != null "> and t.goods_id = #{goodsId}</if>
            <if test="oldNum != null "> and t.old_num = #{oldNum}</if>
            <if test="newNum != null "> and t.new_num = #{newNum}</if>
        </where>
    </select>
    
    <select id="selectTInventoryRecordById" parameterType="Long" resultMap="TInventoryRecordResult">
        <include refid="selectTInventoryRecordVo"/>
        where t.id = #{id}
    </select>
        
    <insert id="insertTInventoryRecord" parameterType="TInventoryRecord" useGeneratedKeys="true" keyProperty="id">
        insert into t_inventory_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="goodsId != null">goods_id,</if>
            <if test="oldNum != null">old_num,</if>
            <if test="newNum != null">new_num,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="goodsId != null">#{goodsId},</if>
            <if test="oldNum != null">#{oldNum},</if>
            <if test="newNum != null">#{newNum},</if>
         </trim>
    </insert>

    <update id="updateTInventoryRecord" parameterType="TInventoryRecord">
        update t_inventory_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="goodsId != null">goods_id = #{goodsId},</if>
            <if test="oldNum != null">old_num = #{oldNum},</if>
            <if test="newNum != null">new_num = #{newNum},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTInventoryRecordById" parameterType="Long">
        delete from t_inventory_record where id = #{id}
    </delete>

    <delete id="deleteTInventoryRecordByIds" parameterType="String">
        delete from t_inventory_record where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>