<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.market.mapper.TOutboundMapper">

    <resultMap type="TOutbound" id="TOutboundResult">
        <result property="id"    column="id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="outboundCode"    column="outbound_code"    />
        <result property="status"    column="status"    />
    </resultMap>

    <sql id="selectTOutboundVo">
        select id, create_by, create_time, outbound_code, status from t_outbound
    </sql>

    <select id="selectTOutboundList" parameterType="TOutbound" resultMap="TOutboundResult">
        <include refid="selectTOutboundVo"/>
        <where>
            <if test="outboundCode != null  and outboundCode != ''"> and outbound_code like concat('%', #{outboundCode},'%')</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>

    <select id="selectTOutboundById" parameterType="Long" resultMap="TOutboundResult">
        <include refid="selectTOutboundVo"/>
        where id = #{id}
    </select>
    <select id="selectTOutboundByCode" parameterType="String" resultMap="TOutboundResult">
        <include refid="selectTOutboundVo"/>
        where outbound_code = #{outboundCode}
    </select>

    <insert id="insertTOutbound" parameterType="TOutbound" useGeneratedKeys="true" keyProperty="id">
        insert into t_outbound
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="outboundCode != null and outboundCode != ''">outbound_code,</if>
            <if test="status != null and status != ''">status,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="outboundCode != null and outboundCode != ''">#{outboundCode},</if>
            <if test="status != null and status != ''">#{status},</if>
        </trim>
    </insert>

    <update id="updateTOutbound" parameterType="TOutbound">
        update t_outbound
        <trim prefix="SET" suffixOverrides=",">
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="outboundCode != null and outboundCode != ''">outbound_code = #{outboundCode},</if>
            <if test="status != null and status != ''">status = #{status},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTOutboundById" parameterType="Long">
        delete from t_outbound where id = #{id}
    </delete>

    <delete id="deleteTOutboundByIds" parameterType="String">
        delete from t_outbound where status = "1" and id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="getCodeMax"  resultType="String" parameterType="String">
        select MAX(SUBSTR(outbound_code FROM 9 FOR 10)) from t_outbound
        where outbound_code like concat(#{time}, '%')
    </select>

</mapper>