<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.market.mapper.TOutboundDetailMapper">
    
    <resultMap type="TOutboundDetail" id="TOutboundDetailResult">
        <result property="id"    column="id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="outboundCode"    column="outbound_code"    />
        <result property="goodsId"    column="goods_id"    />
        <result property="num"    column="num"    />
        <result property="name"    column="name"    />
        <result property="typeName"    column="type_name"    />
        <result property="unit"    column="unit"    />
    </resultMap>

    <sql id="selectTOutboundDetailVo">
        select t.id, t.create_by, t.create_time, t.outbound_code, t.goods_id, t.num, tg.name, tg.unit, tt.type_name from t_outbound_detail t
        left join t_goods tg  on t.goods_id = tg.id
        left join t_goods_type tt on tg.type_id = tt.id
    </sql>

    <select id="selectTOutboundDetailList" parameterType="TOutboundDetail" resultMap="TOutboundDetailResult">
        <include refid="selectTOutboundDetailVo"/>
        <where>
            <if test="name != null "> and tg.name like concat('%', #{name}, '%')</if>
            <if test="typeId != null "> and tg.type_id = #{typeId}</if>
            <if test="outboundCode != null  and outboundCode != ''"> and t.outbound_code like concat('%', #{outboundCode}, '%')</if>
            <if test="goodsId != null "> and t.goods_id = #{goodsId}</if>
            <if test="num != null "> and t.num = #{num}</if>
        </where>
    </select>
    <select id="selectTOutboundDetailByCode" parameterType="String" resultMap="TOutboundDetailResult">
        <include refid="selectTOutboundDetailVo"/>
        where t.outbound_code = #{outboundCode}
    </select>
    
    <select id="selectTOutboundDetailById" parameterType="Long" resultMap="TOutboundDetailResult">
        <include refid="selectTOutboundDetailVo"/>
        where t.id = #{id}
    </select>
        
    <insert id="insertTOutboundDetail" parameterType="TOutboundDetail" useGeneratedKeys="true" keyProperty="id">
        insert into t_outbound_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="outboundCode != null">outbound_code,</if>
            <if test="goodsId != null">goods_id,</if>
            <if test="num != null">num,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="outboundCode != null">#{outboundCode},</if>
            <if test="goodsId != null">#{goodsId},</if>
            <if test="num != null">#{num},</if>
         </trim>
    </insert>

    <update id="updateTOutboundDetail" parameterType="TOutboundDetail">
        update t_outbound_detail
        <trim prefix="SET" suffixOverrides=",">
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="outboundCode != null">outbound_code = #{outboundCode},</if>
            <if test="goodsId != null">goods_id = #{goodsId},</if>
            <if test="num != null">num = #{num},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTOutboundDetailById" parameterType="Long">
        delete from t_outbound_detail where id = #{id}
    </delete>

    <delete id="deleteTOutboundDetailByIds" parameterType="String">
        delete from t_outbound_detail where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>