<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.student.mapper.ZstudentMapper">
    
    <resultMap type="Zstudent" id="ZstudentResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="age"    column="age"    />
    </resultMap>


    <sql id="selectZstudentVo">
        select id, name, age from zstudent
    </sql>

    <select id="selectZstudentList" parameterType="Zstudent" resultMap="ZstudentResult">
        <include refid="selectZstudentVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="age != null "> and age = #{age}</if>
        </where>
    </select>
    
    <select id="selectZstudentById" parameterType="Long" resultMap="ZstudentResult">
        <include refid="selectZstudentVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertZstudent" parameterType="Zstudent" useGeneratedKeys="true" keyProperty="id">
        insert into zstudent
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="age != null">age,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="age != null">#{age},</if>
         </trim>
    </insert>

    <update id="updateZstudent" parameterType="Zstudent">
        update zstudent
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="age != null">age = #{age},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteZstudentById" parameterType="Long">
        delete from zstudent where id = #{id}
    </delete>

    <delete id="deleteZstudentByIds" parameterType="String">
        delete from zstudent where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>