<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>统计</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/animate.min.css" th:href="@{/css/main/animate.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/style.min862f.css" th:href="@{/css/main/style.min862f.css}" rel="stylesheet"/>
    <th:block th:include="include :: header('首页')"/>
    <style>
        .col-sm-9 {
            width: 100%;
        }

        .flot-chart {
            height: 500px;
        }

        @media ( max-width: 768px) {
            .search-collapse {
                display: block;
            }
        }
    </style>
</head>

<body class="gray-bg">
<!--<div class="col-sm-12 search-collapse">-->
<!--<form id="formId1">-->
<!--<div class="select-list">-->
<!--<ul>-->
<!--<li>-->
<!--<label>姓名：</label>-->
<!--<input type="text" name="name"/>-->
<!--</li>-->
<!--<li>-->
<!--<label>年龄：</label>-->
<!--<input type="text" name="age"/>-->
<!--</li>-->
<!--<li>-->
<!--<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>-->
<!--<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->
<!--</form>-->
<!--</div>-->

<div class="col-sm-12 search-collapse">
    <form id="formId">
        <div class="select-list">
            <ul>
                <li>
                    <label>省：</label>
                    <input type="text" value="河南" name="name" id="name"/>
                </li>
                <li>
                    <label>市：</label>
                    <input type="text" value="平顶山" name="name1" id="name1"/>
                </li>
                <li>
                    <label>县：</label>
                    <input type="text" value="郏县" name="name2" id="name2"/>
                </li>
                <li>
                    <a class="btn btn-primary btn-rounded btn-sm" onclick="searchWeather()"><i
                            class="fa fa-search"></i>&nbsp;搜索</a>
                    <a class="btn btn-warning btn-rounded btn-sm" onclick="reset()"><i
                            class="fa fa-refresh"></i>&nbsp;重置</a>
                </li>
            </ul>
        </div>
    </form>
</div>


<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <!--<div class="ibox-title">-->
            <!--<h5>订单</h5>-->
            <!--<div class="pull-right">-->
            <!--<div class="btn-group">-->
            <!--<button type="button" class="btn btn-xs btn-white active">天</button>-->
            <!--<button type="button" class="btn btn-xs btn-white">月</button>-->
            <!--<button type="button" class="btn btn-xs btn-white">年</button>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-9">
                        <div class="flot-chart">
                            <div class="flot-chart-content" id="flot-dashboard-chart"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</div>
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>未来一周气温变化</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <table class="table table-hover no-margins">
                    <thead>
                    <tr>
                        <th>日期</th>
                        <th>白天气温</th>
                        <th>白天天气</th>
                        <th>夜间气温</th>
                        <th>夜间天气</th>
                        <th>舒适度指数</th>
                        <th>空气质量</th>
                        <th>风向</th>
                        <th>风级</th>
                        <th>日出时间</th>
                        <th>日落时间</th>
                    </tr>
                    </thead>

                    <tbody id="tbody1">

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/ajax/libs/flot/jquery.flot.js}"></script>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: echarts-js"/>
<script th:inline="javascript">
    $(document).ready(function () {

        searchWeather();

    });


    function searchWeather() {
        var config = {
            url: ctx + "weather",
            type: "post",
            dataType: "json",
            data: {
                province: $("#name").val(),
                city: $("#name1").val(),
                area: $("#name2").val(),
                needday: '7'
            },
            beforeSend: function () {
                $.modal.loading("正在处理中，请稍后...");
            },
            success: function (result) {
                if (result.code == web_status.SUCCESS) {
                    initWeather(result.data);
                    initTable(result.data[3]);
                } else if (result.code == web_status.FAIL) {
                    $.modal.alertWarning(result.msg)
                } else {
                    $.modal.alertError(result.msg);
                }
                $.modal.closeLoading();
            }
        };
        $.ajax(config);
    }

    function initWeather(data) {
        var lineChart = echarts.init(document.getElementById("flot-dashboard-chart"));
        var lineoption = {
            title: {
                text: '未来一周气温变化'
            },
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data: ['最高气温', '最低气温']
            },
            grid: {
                x: 40,
                x2: 40,
                y2: 24
            },
            calculable: true,
            xAxis: [
                {
                    type: 'category',
                    boundaryGap: false,
                    data: data[0]
                }
            ],
            yAxis: [
                {
                    type: 'value',
                    axisLabel: {
                        formatter: '{value} °C'
                    }
                }
            ],
            series: [
                {
                    name: '最高气温',
                    type: 'line',
                    data: data[1],
                    markPoint: {
                        data: [
                            {type: 'max', name: '最大值'},
                            {type: 'min', name: '最小值'}
                        ]
                    },
                    markLine: {
                        data: [
                            {type: 'average', name: '平均值'}
                        ]
                    }
                },
                {
                    name: '最低气温',
                    type: 'line',
                    data: data[2],
                    markPoint: {
                        data: [
                            {name: '周最低', value: -2, xAxis: 1, yAxis: -1.5}
                        ]
                    },
                    markLine: {
                        data: [
                            {type: 'average', name: '平均值'}
                        ]
                    }
                }
            ]
        };
        lineChart.setOption(lineoption);
        $(window).resize(lineChart.resize);


    }

    //下雨 <span class="glyphicon glyphicon-tint" aria-hidden="true"></span>
    //多云 <i class="fa fa-cloud">
    //晴天 <span class="glyphicon glyphicon-certificate" aria-hidden="true"></span>
    function initTable(data) {
        $("#tbody1").html("<tr id=\"table1\">\n" +
            "            </tr>");
        var a;
        for (var i = 0; i < data.length; i++) {
            a = a + "<tr><td><span class='label label-primary'>" + data[i].nongli + "</span></td>" +
                "<td>" + data[i].day_air_temperature + "℃</td>" +
                "<td>" + airGlyphicons(data[i].day_air_weather) + data[i].day_air_weather + "</td>" +
                "<td>" + data[i].night_air_temperature + "℃</span></td>" +
                "<td>" + airGlyphicons(data[i].night_air_weather) + data[i].night_air_weather + "</td>" +
                "<td class=\"text-navy\"><i class=\"fa fa-level-up\"></i> " + data[i].live.co.title + "</td>" +
                "<td>" + data[i].quality + "</span></td>" +
                "<td>" + data[i].day_wind_direction + "</span></td>" +
                "<td>" + data[i].day_wind_power + "</span></td>" +
                "<td>" + data[i].sun_begin + "</span></td>" +
                "<td>" + data[i].sun_end + "</span></td>" +
                "</tr>";
        }
        console.log(data);
        $("#table1").after(a);
    }

    function airGlyphicons(air) {
        if (air.indexOf("晴") != -1) {
            return '<span class="glyphicon glyphicon-certificate" aria-hidden="true"></span>';
        } else if (air.indexOf("雨") != -1) {
            return '<span class="glyphicon glyphicon-tint" aria-hidden="true"></span>';
        } else if (air.indexOf("云") != -1) {
            return '<i class="fa fa-cloud">';
        }else if (air.indexOf("阴") != -1) {
            return '<i class="fa fa-cloud">';
        } else {
            return '';
        }
    }

    function reset() {
        $("#name").val("");
        $("#name1").val("");
        $("#name2").val("");
    }
</script>
</body>
</html>
