<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>统计</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/animate.min.css" th:href="@{/css/main/animate.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/style.min862f.css" th:href="@{/css/main/style.min862f.css}" rel="stylesheet"/>
    <style>

    </style>
</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content" style="height: 100%;">

        <div class="row">
            <div class="col-sm-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-success pull-right">今天</span>
                        <h5>入库单数</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins" id="data1">0</h1>
                        <div class="stat-percent font-bold text-success">98% <i class="fa fa-bolt"></i>
                        </div>
                        <small>新入库单数</small>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-info pull-right">今天</span>
                        <h5>出库单数</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins" id="data2">0</h1>
                        <div class="stat-percent font-bold text-info">20% <i class="fa fa-level-up"></i>
                        </div>
                        <small>新出库单数</small>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-primary pull-right">最近一个月</span>
                        <h5>入库单数</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins" id="data3">0</h1>
                        <div class="stat-percent font-bold text-navy">44% <i class="fa fa-level-up"></i>
                        </div>
                        <small>新入库单数</small>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-danger pull-right">最近一个月</span>
                        <h5>出库单数</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins" id="data4">0</h1>
                        <div class="stat-percent font-bold text-danger">38% <i class="fa fa-level-down"></i>
                        </div>
                        <small>新出库单数</small>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>订单</h5>
                        <!--<div class="pull-right">-->
                            <!--<div class="btn-group">-->
                                <!--<button type="button" class="btn btn-xs btn-white active">天</button>-->
                                <!--<button type="button" class="btn btn-xs btn-white">月</button>-->
                                <!--<button type="button" class="btn btn-xs btn-white">年</button>-->
                            <!--</div>-->
                        <!--</div>-->
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="flot-chart">
                                <div class="flot-chart-content" id="flot-dashboard-chart"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/ajax/libs/flot/jquery.flot.js}"></script>
    <th:block th:include="include :: footer"/>
    <th:block th:include="include :: echarts-js"/>
    <!--<th:block th:include="include :: sparkline-js" />-->
    <script type="text/javascript">
        var time = new Date().getTime();
        var url = "/system/goods/main_v1";
	    $(document).ready(function () {
            var config = {
                url: url,
                type: "get",
                success: function(result) {
                    initWeather(result);
                    initData(result);
                }
            };
            $.ajax(config);

	    });
        function initData(data){
            $("#data1").text(data[2]);
            $("#data2").text(data[3]);
            $("#data3").text(data[4]);
            $("#data4").text(data[5]);
        }
        function initWeather(data) {
            var lineChart = echarts.init(document.getElementById("flot-dashboard-chart"));
            var lineoption = {
                title: {
                    text: '商品库存'
                },
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                        type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                    }
                },
                // legend: {
                //     data: ['库存']
                // },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                // calculable: true,
                xAxis: [
                    {
                        type: 'category',
                        data: data[0],
                        axisTick: {
                            alignWithLabel: true
                        }
                    }
                ],
                yAxis: [
                    {
                        type: 'value'
                    }
                ],
                series: [
                    {
                        name: '库存',
                        type: 'bar',
                        data: data[1],
                        barWidth: '60%',
                        itemStyle: {
                            normal: {
                                //这里是重点
                                color: function(params) {
                                    //注意，如果颜色太少的话，后面颜色不会自动循环，最好多定义几个颜色
                                    var colorList = ['#23c6c8','#2f4554', '#61a0a8', '#d48265', '#91c7ae','#749f83', '#ca8622'];
                                    return colorList[params.dataIndex]
                                }
                            }
                        }
                    }
                ]
            };
            lineChart.setOption(lineoption);
            $(window).resize(lineChart.resize);
        }



    </script>
</body>
</html>
